@font-face {
  font-family: "MMC Display";
  src: url('./font-assets/mmc/MMCDisplay_Bd.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "MMC Display";
  src: url('./font-assets/mmc/MMCDisplay_Rg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans";
  src: url('./font-assets/noto/NotoSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans";
  src: url('./font-assets/noto/NotoSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}